body {
    background-color: #242424;
    margin: 0;

    font-family: sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100vh;
    display: flex;
    align-items: center;
}

.display-container {
    width: 100%;
    height: 50%;
    max-height: 17em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.digital-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.digitalClock {
    font-size: 4em;
    line-height: 1em;
}

.calendarDate {
    font-size: 1em;
}

.timeBox-container {
    width: 80%;

    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5em;
}

.timeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 80%;
    width: 100%;

    font-size: 1.25em;
    text-shadow: 0.1em 0.1em 0.125em #000000;
    text-align: center;
    color: #a0a0a0;

    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.timeBox.currentHour {
    box-shadow: 0 0 20px #999;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5em;

    height: 100%;
}

.timeBox.afterHour {
    opacity: 20%;
}

.timeBox-container .timeBox-separator {
    background-color: white;
    width: 2px;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .timeBox {
        color: transparent;
        text-shadow: none;
        font-size: 1vw;
    }

    .timeBox.currentHour {
        font-size: 3vw;
        text-shadow: 0.1em 0.1em 0.125em #000000;
    }
}

@media screen and (max-height: 300px) {
    .digitalClock {
        font-size: 30vh;
    }

    .calendarDate {
        font-size: 15vh;
    }
}