$color-darkbg: #242424;
$color-primary: #ffffff;
$color-secondary: #a9a9a9;
$color-shadow: #000000;
$color-glow: #999999;
$background-rainbow: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
);
$background-night: linear-gradient(
    90deg,
    #378eb0ff 1%,
    #6068c7ff 10%,
    #5555c7ff 20%,
    #4e4ebaff 30%,
    #3b4a8dff 40%,
    #3d3a95ff 50%,
    #343492ff 60%,
    #28318eff 70%,
    #642289ff 80%,
    #7c2887ff 90%,
    #901d98ff 98%
);

body {
    margin: 0;

    font-family: sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root,
.app-container {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;

    .background {
        background-color: $color-darkbg;
    }

    .noBackground {
        background-color: transparent;
    }
}

a {
    font-size: 0.9em;
    font-weight: 500;
    color: #7f85f6;
    text-decoration: inherit;
}
a:hover {
    color: #b7bbf8;
}

#toolbar {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    text-shadow: 1px 1px 1px $color-darkbg;
}

.display-container {
    width: 100%;
    height: 50%;
    max-height: 17em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.digital-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 1px $color-darkbg;
    filter: drop-shadow(0px 0px 3px $color-darkbg);

    .digitalClock {
        font-size: 4em;
        line-height: 1em;
    }

    .calendarDate {
        font-size: 1em;
    }
}

.timeBox-container {
    width: 80%;

    padding: 1em;

    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5em;
    filter: drop-shadow(0px 0px 0.2em $color-darkbg);

    .timeBox-bg {
        background-color: $color-darkbg;

        height: 80%;
        width: 100%;

        position: relative;
        display: flex;

        .timeBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            height: 100%;
            width: 100%;

            font-size: 1.25em;
            text-shadow: 0.1em 0.1em 0.125em $color-shadow;
            text-align: center;
            color: $color-secondary;

            background: $background-rainbow;
            background-attachment: fixed;
            background-size: cover;

            box-shadow: 2px 2px 0 0 $color-darkbg;

            .timeNumber {
                z-index: 1;
            }

            .timePercent {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                background: $color-darkbg;
            }

            &.currentHour {
                position: relative;
                box-shadow: 0 0 20px $color-glow;

                color: $color-primary;
                font-weight: bold;
                font-size: 1.5em;
            }

            &.sleepHour {
                background: $background-night;
                background-attachment: fixed;
            }

            &.afterHour {
                opacity: 20%;
                &.wakeHour {
                    opacity: 50%;
                }
            }

            &.sleepHour {
                opacity: 30%;
                &.currentHour {
                    opacity: 100%;
                }
            }
        }
    }

    .timeBox-bg:has(.currentHour) {
        height: 100%;
    }

    .timeBox-bg:last-child {
        .timeBox {
            opacity: 25%;
        }
    }

    .separator {
        width: 10px;
        height: 100%;

        background-color: $color-secondary;
        box-shadow: 1px 1px 1px $color-darkbg;
    }
}

@media screen and (max-width: 800px) {
    .timeBox-container {
        .timeBox {
            color: transparent;
            text-shadow: none;
            font-size: 1vw;
        }

        .timeBox.currentHour {
            font-size: 3vw;
            color: $color-primary;
            text-shadow: 0.1em 0.1em 0.125em $color-shadow;
        }
    }
}

@media screen and (max-height: 200px) {
    .digital-container {
        .digitalClock {
            font-size: 30vh;
        }

        .calendarDate {
            font-size: 15vh;
        }
    }
}
