#root {
    width: 100%;
    height: 100vh;

    font-family: sans-serif;
}

.display-container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.digital-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.digitalClock {
    font-size: 4em;
    line-height: 1em;
}

.calendarDate {
    font-size: 1em;
}

.timeBox-container {
    width: 80%;
    height: 12%;
    max-height: 100vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5%;
}

.timeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 3.5%;
    height: 80%;

    font-size: 1.25em;
    text-shadow: 0.1em 0.1em 0.125em #000000;
    text-align: center;
    color: #a0a0a0;

    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.timeBox.currentHour {
    box-shadow: 0 0 20px #999;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5em;

    height: 100%;
}

.timeBox.afterHour {
    opacity: 20%;
}

.timeBox-container .timeBox-separator {
    background-color: white;
    width: 2px;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .timeBox {
        width: 24em;
        color: transparent;
        text-shadow: none;
    }

    .timeBox.currentHour {
        font-size: 3vw;
    }
}
